.divider {
  text-transform: capitalize;
  color: var(--tg-theme-text-color) !important;
  border-color: var(--tg-theme-text-color) !important;
}

.addBtn {
  margin-left: 0.5rem;
}

.picker {
  margin: 0.5rem;
  background-color: var(--tg-theme-text-color) !important;
  border-color: var(--tg-theme-text-color) !important;
}

.weekday {
  color: lightcoral !important;
  border-color: lightcoral !important;
}