.divider {
  text-transform: capitalize;
  color: var(--tg-theme-text-color) !important; 
  border-color: var(--tg-theme-text-color) !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

.addBtn {
  background-color: var(--tg-theme-button-color) !important;
  border: 0px;
  margin: 1rem 0.5rem;
  max-width: 20%;
  height: 35px;
  margin-bottom: 0.5rem;
}

.picker .ant-picker-range-separator span span {
  color: var(--tg-theme-text-color) !important;
}

.ant-picker-active-bar {
  background: var(--tg-theme-button-color) !important;
}

.addBtn:disabled {
  opacity: 60% !important;
}

.ant-picker-time-panel {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color) !important;
}

.ant-picker-panel-container {
  background: none !important;
  border: 1px solid var(--tg-theme-button-color);
}

.ant-picker-time-panel-cell-inner {
  color: var(--tg-theme-text-color) !important;

}

li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: var(--tg-theme-button-color) !important;
  
}

li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
  border: 1px solid var(--tg-theme-button-color) !important;
}

li.ant-picker-time-panel-cell-disabled .ant-picker-time-panel-cell-inner {
  opacity: 50%;
}

li.ant-picker-time-panel-cell-disabled .ant-picker-time-panel-cell-inner:hover {
  border: none !important;
}

.ant-picker-time-panel-column {
  margin: .5rem !important;
  margin-right: 1rem !important;
  overflow-y: visible !important;
}

.ant-picker-time-panel-column::after {
  height: auto  !important;
}


.ant-picker-ranges {
  display: none !important;
}

.ant-picker-range-arrow::before {
  background: var(--tg-theme-button-color) !important;
}

.ant-picker-footer {
  display: none !important;
}

.addBtn:hover:not(:disabled) {
  color: var(--tg-theme-text-color) !important;
}

.picker {
  margin: -2px 0;
  border-radius: 0;
  background-color: var(--tg-theme-bg-color) !important;
  border-color: var(--tg-theme-text-color) !important;
  text-align-last: center;
}

.picker:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.picker:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.clearBtn {
  color: var(--tg-theme-text-color) !important;
}

.clearBtnHidden {
  color: var(--tg-theme-bg-color) !important;
  background-color: var(--tg-theme-bg-color) !important;
}

.clearBtn:disabled {
  opacity: 60% !important;
}

.clearBtnHover {
  color: var(--tg-theme-text-color) !important;
  background-color: var(--tg-theme-bg-color) !important;
}

.fullWidth {
  min-width: 90%;
  margin: 0 1rem;
}

.picker input {
  color: var(--tg-theme-text-color) !important;

}

.weekday {
  color: lightcoral !important;
  border-color: lightcoral !important;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}